$dark-theme: "dark-theme";
$light-theme: "light-theme";

$background: "background";
$text: "text";
$link: "link";
$horizontal-line: "horizontal-line";
$code-block-background: "code-block-background";
$inline-code-background: "inline-code-background";
$blockquote-text: "blockquote-text";
$blockquote-left-bar: "blockquote-left-bar";
$table-border: "table-border";
$table-primary-background: "table-primary-background";
$table-secondary-background: "table-secondary-background";

$themes: (
    $light-theme: (
        background: rgb(255, 255, 255),
        text: /*rgb(36, 41, 46)*/ rgb(0, 255, 0),
        link: rgb(3, 102, 214),
        horizontal-line: rgb(225, 228, 232),
        code-block-background: rgb(246, 248, 250),
        inline-code-background: rgba(27, 31, 35, 0.05),
        blockquote-text: rgb(106, 115, 125),
        blockquote-left-bar: rgb(223, 226, 229),
        table-border: rgb(223, 226, 229),
        table-primary-background: rgb(255, 255, 255),
        table-secondary-background: rgb(246, 248, 250),
    ),
    $dark-theme: (
        background: rgb(26, 26, 26),
        text: rgb(255, 255, 255),
        link: rgb(102, 153, 255),
        horizontal-line: rgb(102, 102, 102),
        code-block-background: rgb(38, 38, 38),
        inline-code-background: rgb(38, 38, 38),
        blockquote-text: rgb(191, 191, 191),
        blockquote-left-bar: rgb(51, 51, 51),
        table-border: rgb(80, 89, 98),
        table-primary-background: rgb(26, 26, 26),
        table-secondary-background: rgb(64, 64, 64),
    ),
);

@mixin themeProperty(
    $theme,
    $property,
    $color,
    $additionalPropertiesPositionIsFront,
    $additionalProperties
) {
    @if $additionalPropertiesPositionIsFront {
        #{$property}: unquote(
            $additionalProperties + " " + map-get($theme, $color)
        );
    } @else {
        #{$property}: unquote(
            map-get($theme, $color) + " " + $additionalProperties
        );
    }
}

@mixin theme(
    $property,
    $color,
    $additionalPropertiesPositionIsFront: false,
    $additionalProperties: ""
) {
    $light: map-get($themes, $light-theme);
    $dark: map-get($themes, $dark-theme);

    @include themeProperty(
        $light,
        $property,
        $color,
        $additionalPropertiesPositionIsFront,
        $additionalProperties
    );

    @media (prefers-color-scheme: dark) {
        @include themeProperty(
            $dark,
            $property,
            $color,
            $additionalPropertiesPositionIsFront,
            $additionalProperties
        );
    }
}
