---
---

@import "{{ site.theme }}";

:root {
  --page-color: rgb(255, 255, 255);
  --text-color: rgb(36, 41, 46);
  --link-color: rgb(3, 102, 214);
  --horizontal-line-color: rgb(225, 228, 232);
  --code-block-background-color: rgb(246, 248, 250);
  --inline-code-background-color: rgba(27, 31, 35, 0.05);
  --block-quote-text-color: rgb(106, 115, 125);
  --block-quote-left-bar-color: rgb(223, 226, 229);
  --table-border-color: rgb(223, 226, 229);
  --table-primary-background-color: rgb(255, 255, 255);
  --table-secondary-background-color: rgb(246, 248, 250);
}

@media (prefers-color-scheme: dark) {
  
  body {
    color: rgb(255,255,255);
    background-color: rgb(26,26,26);
  }
  
  .highlight {
    background-color: transparent;
  }
 
  
  .markdown-body {
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: rgb(255,255,255);
    }
    
    p {
      color: rgb(255,255,255);
    }
    
    a {
      color: rgb(102, 255, 102);
    }
    
    hr {
      background-color: rgb(225, 228, 232);
    }
    
    code,
    tt {
      color: rgb(255,255,255);
      background-color: rgb(255, 0, 0); /* red */
    }
    
    .highlight pre,
    pre {
      background-color: rgb(44, 44, 44);
    }
    
    pre {
      > code {
        color: rgb(255,255,255);
      }
    }
    
    table {
      
      th,
      td {
        border: 1px solid rgb(223, 226, 229); /* grey */
      }
      
      tr {
        background-color: rgb(46, 46, 46);
        border-top: 1px solid darken(rgb(89, 89, 89), 4%);
        
        &:nth-child(2n) {
          background-color: rgb(89, 89, 89);
        }
      }
    }
    
    blockquote {
      color: rgb(106, 115, 125);
      border-left: rgb(223, 226, 229);
    }
    
  }
}

