---
---

@import "{{ site.theme }}";

@media (prefers-color-scheme: dark) {
  
  body {
    color: rgb(255,255,255);
    background-color: rgb(26,26,26);
  }
  
  .markdown-body {
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: rgb(255,255,255);
    }
    
    p {
      color: rgb(255,255,255);
    }
    
    a {
      color: rgb(102, 255, 102);
    }
    
    pre code,
    pre tt {
      background-color: rgb(0, 153, 51); /* green */
    }
    
    code,
    tt {
      color: rgb(255,255,255);
      background-color: rgb(255, 0, 0); /* red */
    }
    
    pre {
      background-color: rgb(44, 44, 44);
      
      > code {
        color: rgb(204, 153, 255); /* pink */
      }
    }
    
    table {
      
      th,
      td {
        border: 1px solid lighten(rgb(51, 102, 153), 5%); /* navy blue */
      }
      
      tr {
        background-color: rgb(46, 46, 46);
        border-top: 1px solid darken(rgb(89, 89, 89), 4%);
        
        &:nth-child(2n) {
          background-color: rgb(89, 89, 89);
        }
      }
      
    }
  }
  
  /*
  body {
    color: rgb(255,255,255);
    background-color: rgb(26,26,26);
  }
  */
}

